
@import '../../foundation/sizes';
@import '../../foundation/elevations';

.badge-base{
    font-size: 12px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;

    &[disabled]{
        cursor: not-allowed;
    } 
}

.badge-size-sm{
    padding: 4px 8px;
    gap: 8px; 
}

.badge-size-md{
    padding: 6px 10px;
    gap: 12px; 
    font-size: $size-normal
}

.badge-color-primary{
    background-color: var(--color-product-normal);
    color: white;
}

.badge-color-white{
    background-color: var(--color-white);
    color: var(--color-ink-dark);
    border: 1px solid var(--color-cloud-dark);
}

.badge-color-primary-light{
    background-color: var(--color-product-light);
    color: var(--color-product-dark);
    border: 1px solid var(--color-product-dark);
}

.badge-color-critical{
    background-color: var(--color-red-normal);
    color: var(--color-white);
}

.badge-color-critical-light{
    background-color: var(--color-red-light);
    color: var(--color-red-dark);
    border: 1px solid var(--color-red-dark);
}

.badge-color-critical{
    background-color: var(--color-red-normal);
    color: var(--color-white);
}

.badge-color-info{
    background-color: var(--color-blue-normal);
    color: var(--color-white);
}

.badge-color-info-light{
    background-color: var(--color-blue-light);
    color: var(--color-blue-dark);
    border: 1px solid var(--color-blue-dark);
}

.badge-color-success{
    background-color: var(--color-green-normal);
    color: var(--color-white);
}

.badge-color-success-light{
    background-color: var(--color-green-light);
    color: var(--color-green-dark);
    border: 1px solid var(--color-green-dark);
}

.badge-elevation-1{
    @include elevation-1;
}