@import '../../foundation/colors';
@import '../../foundation/sizes';
@import '../../foundation/elevations';

.badge-base{
    font-size: 12px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;

    &[disabled]{
        cursor: not-allowed;
    } 
}

.badge-size-sm{
    padding: 4px 8px;
    gap: 8px; 
}

.badge-size-md{
    padding: 6px 10px;
    gap: 12px; 
    font-size: $size-normal
}

.badge-color-primary{
    background-color: $color-product-normal;
    color: white;
}

.badge-color-white{
    background-color: $color-white;
    color: $color-ink-dark;
    border: 1px solid $color-cloud-dark;
}

.badge-color-primary-light{
    background-color: $color-product-light;
    color: $color-product-dark;
    border: 1px solid $color-product-dark;
}

.badge-color-critical{
    background-color: $color-red-normal;
    color: $color-white;
}

.badge-color-critical-light{
    background-color: $color-red-light;
    color: $color-red-dark;
    border: 1px solid $color-red-dark;
}

.badge-color-critical{
    background-color: $color-red-normal;
    color: $color-white;
}

.badge-color-info{
    background-color: $color-blue-normal;
    color: $color-white;
}

.badge-color-info-light{
    background-color: $color-blue-light;
    color: $color-blue-dark;
    border: 1px solid $color-blue-dark;
}

.badge-color-success{
    background-color: $color-green-normal;
    color: $color-white;
}

.badge-color-success-light{
    background-color: $color-green-light;
    color: $color-green-dark;
    border: 1px solid $color-green-dark;
}

.badge-elevation-1{
    @include elevation-1;
}