@import '../../foundation/colors';
@import '../../foundation/sizes';
@import '../../foundation/elevations';

.button-base{
    cursor: pointer;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;

    &[disabled]{
        cursor: not-allowed;
    } 

    .icon{
        color: inherit;
        vertical-align: middle;
    }
}

.button-size-sm{
    padding: 12px;
    gap: 8px; 
    font-size: $size-small
}

.button-size-md{
    padding: 12px 16px;
    gap: 12px; 
    font-size: $size-normal
}

.button-size-lg{
    gap: 12px; 
    padding: 14px 24px;
    font-size: $size-large
}

.button-color-primary{
    background-color: $color-product-normal;
    border: 1px solid $color-product-normal;
    color: white;

    &:hover{
        background-color: $color-product-normal-hover
    }
    &:active{
        background-color: $color-product-normal-active
    }
}

.button-color-white{
    background-color: $color-white;
    color: $color-ink-dark;
    border: 1px solid $color-cloud-dark;
    
    &:hover{
        background-color: $color-white-hover
    }
    &:active{
        background-color: $color-white-active
    }
}

.button-color-primary-light{
    background-color: $color-product-light;
    color: $color-product-dark;
    border: 1px solid $color-product-dark;

    &:hover{
        background-color: $color-product-light-hover
    }
    &:active{
        background-color: $color-product-light-active
    }
}

.button-color-critical{
    background-color: $color-red-normal;
    color: $color-white;
    
    &:hover{
        background-color: $color-red-normal-hover
    }
    &:active{
        background-color: $color-red-normal-active
    }
}

.button-color-critical-light{
    background-color: $color-red-light;
    color: $color-red-dark;
    border: 1px solid $color-red-dark;

    &:hover{
        background-color: $color-red-light-hover
    }
    &:active{
        background-color: $color-red-light-active
    }
}

.button-color-critical{
    background-color: $color-red-normal;
    color: $color-white;
    border: 1px solid $color-red-normal;
    
    &:hover{
        background-color: $color-red-normal-hover
    }

    &:active{
        background-color: $color-red-normal-active
    }
}

.button-color-info{
    background-color: $color-blue-normal;
    border: 1px solid $color-blue-normal;
    color: $color-white;
    
    &:hover{
        background-color: $color-blue-normal-hover
    }
    
    &:active{
        background-color: $color-blue-normal-active
    }
}

.button-color-info-light{
    background-color: $color-blue-light;
    color: $color-blue-dark;
    border: 1px solid $color-blue-dark;
    
    &:hover{
        background-color: $color-blue-light-hover
    }
    
    &:active{
        background-color: $color-blue-light-active
    }
}

.button-color-success{
    background-color: $color-green-normal;
    color: $color-white;
    border: 1px solid $color-green-normal;

    &:hover{
        background-color: $color-green-normal-hover
    }
    
    &:active{
        background-color: $color-green-normal-active
    }
}

.button-color-success-light{
    background-color: $color-green-light;
    color: $color-green-normal;
    border: 1px solid $color-green-normal;

    &:hover{
        background-color: $color-green-light-hover
    }
    
    &:active{
        background-color: $color-green-light-active
    }
}

.button-color-attention-light{
    background-color: $color-orange-light;
    color: $color-orange-dark;
    border: 1px solid $color-orange-dark;
    
    &:hover{
        background-color: $color-orange-light-hover
    }
    
    &:active{
        background-color: $color-orange-light-active
    }
}
.button-color-attention{
    background-color: $color-orange-normal;
    color: $color-white;
    border: 1px solid $color-orange-normal;

    &:hover{
        background-color: $color-orange-normal-hover
    }
    
    &:active{
        background-color: $color-orange-normal-active
    }
}

.button-elevation-1{
    @include elevation-1;
}