
@import '../../foundation/sizes';
@import '../../foundation/elevations';

.button-base{
    cursor: pointer;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;

    &[disabled]{
        cursor: not-allowed;
    } 

    .icon{
        color: inherit;
        vertical-align: middle;
    }
}

.button-size-sm{
    padding: 12px;
    gap: 8px; 
    font-size: $size-small
}

.button-size-md{
    padding: 12px 16px;
    gap: 12px; 
    font-size: $size-normal
}

.button-size-lg{
    gap: 12px; 
    padding: 14px 24px;
    font-size: $size-large
}

.button-color-primary{
    background-color: var(--color-product-normal);
    border: 1px solid var(--color-product-normal);
    color: white;

    &:hover{
        background-color: var(--color-product-normal-hover)
    }
    &:active{
        background-color: var(--color-product-normal-active)
    }
}

.button-color-white{
    background-color: var(--color-white);
    color: var(--color-ink-dark);
    border: 1px solid var(--color-cloud-dark);
    
    &:hover{
        background-color: var(--color-white-hover)
    }
    &:active{
        background-color: var(--color-white-active)
    }
}

.button-color-primary-light{
    background-color: var(--color-product-light);
    color: var(--color-product-dark);
    border: 1px solid var(--color-product-dark);

    &:hover{
        background-color: var(--color-product-light-hover)
    }
    &:active{
        background-color: var(--color-product-light-active)
    }
}

.button-color-critical{
    background-color: var(--color-red-normal);
    color: var(--color-white);
    
    &:hover{
        background-color: var(--color-red-normal-hover)
    }
    &:active{
        background-color: var(--color-red-normal-active)
    }
}

.button-color-critical-light{
    background-color: var(--color-red-light);
    color: var(--color-red-dark);
    border: 1px solid var(--color-red-dark);

    &:hover{
        background-color: var(--color-red-light-hover)
    }
    &:active{
        background-color: var(--color-red-light-active)
    }
}

.button-color-critical{
    background-color: var(--color-red-normal);
    color: var(--color-white);
    border: 1px solid var(--color-red-normal);
    
    &:hover{
        background-color: var(--color-red-normal-hover)
    }

    &:active{
        background-color: var(--color-red-normal-active)
    }
}

.button-color-info{
    background-color: var(--color-blue-normal);
    border: 1px solid var(--color-blue-normal);
    color: var(--color-white);
    
    &:hover{
        background-color: var(--color-blue-normal-hover)
    }
    
    &:active{
        background-color: var(--color-blue-normal-active)
    }
}

.button-color-info-light{
    background-color: var(--color-blue-light);
    color: var(--color-blue-dark);
    border: 1px solid var(--color-blue-dark);
    
    &:hover{
        background-color: var(--color-blue-light-hover)
    }
    
    &:active{
        background-color: var(--color-blue-light-active)
    }
}

.button-color-success{
    background-color: var(--color-green-normal);
    color: var(--color-white);
    border: 1px solid var(--color-green-normal);

    &:hover{
        background-color: var(--color-green-normal-hover)
    }
    
    &:active{
        background-color: var(--color-green-normal-active)
    }
}

.button-color-success-light{
    background-color: var(--color-green-light);
    color: var(--color-green-normal);
    border: 1px solid var(--color-green-normal);

    &:hover{
        background-color: var(--color-green-light-hover)
    }
    
    &:active{
        background-color: var(--color-green-light-active)
    }
}

.button-color-attention-light{
    background-color: var(--color-orange-light);
    color: var(--color-orange-dark);
    border: 1px solid var(--color-orange-dark);
    
    &:hover{
        background-color: var(--color-orange-light-hover)
    }
    
    &:active{
        background-color: var(--color-orange-light-active)
    }
}
.button-color-attention{
    background-color: var(--color-orange-normal);
    color: var(--color-white);
    border: 1px solid var(--color-orange-normal);

    &:hover{
        background-color: var(--color-orange-normal-hover)
    }
    
    &:active{
        background-color: var(--color-orange-normal-active)
    }
}

.button-elevation-1{
    @include elevation-1;
}