@import '../../../foundation/sizes';

.checkbox{
    display: flex;
    align-items: center;
    gap: 8px;
    
    .check-input{
        border: 1px solid var(--color-ink-light);
        appearance: auto;
        margin-right: 4px;
        width: 18px;
        height: 18px;
        margin: 0;
        margin-right: 10px;
        
        font: inherit;
        color: currentColor;
        border: 0.15em solid currentColor;
        border-radius: 0.15em;
        display: inline-grid;
        place-content: center;

        &::before{
            content: "";
            width: 0.65em;
            height: 0.65em;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
            transform: scale(0);
            transform-origin: bottom left;
            transition: 120ms transform ease-in-out;
            background-color: white;
        }

        &:checked{
            background: var(--color-info);
            border-color: var(--color-info);

            &::before{
                background-color: white;
                transform: scale(1);
            }
        }
    }
    label{
        color: var(--color-ink-dark);
    }
    .icon{
        margin-left: 5px;
        vertical-align: text-bottom;
        margin-bottom: 2px;
    }
    
    .error-msg{
        font-size: $size-small;
        color: var(--color-error);
    } 
    
    &.checkbox-error input{
        border: 1px solid var(--color-error);
    }
    
    &.checkbox-size-md label{
        font-size: $size-normal;
    }

    &.checkbox-size-sm label{
        font-size: $size-small;
    }
    
    &.checkbox-size-lg label{
        font-size: $size-large;
    }
}


