
@import '../../foundation/sizes';
@import '../../foundation/elevations';

.input{
    display: inline-block;
}

.input {
    input, textarea{
        border-radius: 3px;
        border: 1px solid var(--color-cloud-dark);
        background: #fff;
        color: var(--color-ink-dark);
        
        &::placeholder{
            color: var(--color-ink-light)
        }
        
        &:disabled{
            background-color: var(--color-cloud-normal);
        }
         
    }
    .icon{
        margin-right: 5px;
    }

    
    label{
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        font-weight: 600;
        text-transform: capitalize;
        color: var(--color-ink-dark);
    }
}
.input-size-sm{
    label, input, textarea{
        font-size: $size-small;
    }
    input{
        padding: 10px;
    }
}

.input-size-md{
    label, input, textarea{
        font-size: $size-normal;
    }
    input{
        padding: 12px;
    }
}

.input-size-lg{
    label, input, textarea{
        font-size: $size-large;
    }
    input{
        padding: 14px;
    }
}

.error-msg{
    font-size: $size-small;
    color: var(--color-red-normal);
}

.input-error input{
    border-color: var(--color-red-normal)
}


