@use '../../foundation/index.scss' as foundation;

.input{
    display: inline-block;
}

.input {
    input, select, textarea{
        border-radius: 3px;
        border: 1px solid foundation.$color-cloud-dark;
        background: #fff;
        color: foundation.$color-ink-dark;
        
        &::placeholder{
            color: foundation.$color-ink-light
        }
        
        &:disabled{
            background-color: foundation.$color-cloud-normal;
        }
         
    }
    .icon{
        margin-right: 5px;
        vertical-align: middle;
    }

    
    label{
        display: block;
        margin-bottom: 5px;
        font-weight: 600;
        text-transform: capitalize;
        color: foundation.$color-ink-dark;
    }
}
.input-size-sm{
    label, input, select, textarea{
        font-size: foundation.$size-small;
    }
    input, select{
        padding: 10px;
    }
}

.input-size-md{
    label, input, select, textarea{
        font-size: foundation.$size-normal;
    }
    input, select{
        padding: 12px;
    }
}

.input-size-lg{
    label, input, select, textarea{
        font-size: foundation.$size-large;
    }
    input, select{
        padding: 14px;
    }
}

.error-msg{
    font-size: foundation.$size-small;
    color: foundation.$color-red-normal;
}

.input-error input, select{
    border-color: foundation.$color-red-normal
}


