@import '../../foundation/elevations';

.cardSection {
    padding: 24px;
    border-radius: 5px;
    background: #FFF;
    border: 1px solid var(--color-cloud-active);

    &.elevation-1{
        border: none;
        @include elevation-1
    }
}