
@import '../../foundation/sizes';
@import '../../foundation/elevations';
.keyValue {
    display: inline-flex;
    flex-direction: column;
    text-transform: capitalize;

    &.keyValue-size--md{
        .keyText{
            font-size: $size-small;
        }
        .valueText{
            font-size: $size-normal;
        }
    }

    &.keyValue-size--lg{
        .keyText{
            font-size: $size-normal;
        }
        .valueText{
            font-size: $size-large;
        }
    }
}

.valueText{
    color: var(--color-ink-dark);
    font-weight: 600;
}

.keyText{
    color: var(--color-ink-normal);
}