@import '../Button/Button';


.alert {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 12px;
    gap: 16px;
    border-left: 3px solid;
    color: var(--color-ink-dark);

    &.alert-mode-inline {
        align-items: center;
        
        .alert-content{
            display: flex;
            align-items: center;
            width: 100%;

            .alert-title{
                flex-grow: 1;
                margin-bottom: 0;
                margin-right: 16px;
            }
            .alert-description{
                display: none;
            }
        }
    }
}

.alert-action-primary, .alert-action-secondary{
    @extend .button-base;
    @extend .button-size-sm;
    margin-right: 12px;
}

.alert-info{
    border-left-color: var(--color-info);
    background-color: var(--color-blue-light);

    .icon,
    .alert-action-primary{
        @extend .button-color-info;
    }

    .alert-action-secondary{
        @extend .button-color-info-light;
    }
}

.alert-error{
    border-left-color: var(--color-error);
    background-color: var(--color-red-light);
    .icon,
    .alert-action-primary{
        @extend .button-color-critical;
    }

    .alert-action-secondary{
        @extend .button-color-critical-light;
    }
}

.alert-success{
    border-left-color: var(--color-success);
    background-color: var(--color-green-light);

    .icon,
    .alert-action-primary{
        @extend .button-color-success;
    }

    .alert-action-secondary{
        @extend .button-color-success-light;
    }
}

.alert-attention{
    border-left-color: var(--color-orange-normal);
    background-color: var(--color-orange-light);

    .icon,
    .alert-action-primary{
        @extend .button-color-attention;
    }

    .alert-action-secondary{
        @extend .button-color-attention-light;
    }
}

.alert-title{
    font-weight: 700;
}

.alert-description{
    font-weight: 500;
    margin: 12px 0;
    font-size: $size-normal;
}