@import '../../foundation/colors';

.collapse {
    background-color: white;
    padding: 1rem
}

.collapse-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    border-bottom: 1px solid $color-cloud-normal;
}

.collapse-body{
    margin-top: 1rem;
    
    &[data-collapsed=true]{
        overflow: hidden;
        height: 0;
        transition: height .35s ease;
    }

    &[data-collapsed=false]{
        height: auto;

    }
}