@import '../foundation/base';

:root{
    /***** Product - NEW *****
    --color-product-normal: #57A5A1;
    --color-product-normal-hover: #4B9A96;
    --color-product-normal-active: #4B8986;
    
    --color-product-dark: #007F6D;
    --color-product-dark-active:#007060;
    --color-product-dark-hover: #006657;
    
    --color-product-light:#ECF8F7;
    --color-product-light-active:#D6F0EC;
    --color-product-light-hover: #BFE8E2;
    */ 

    /***** Product - OLD *****/
    --color-product-normal: rgb(100, 152, 199)
    --color-product-normal-hover: rgb(90, 139, 184);
    --color-product-normal-active: rgb(77, 120, 159);
    
    --color-product-dark: rgb(47, 94, 137)
    --color-product-dark-active: rgb(42, 89, 132)
    --color-product-dark-hover: rgb(37, 85, 12)
    
    --color-product-light: #F1F8FE;
    --color-product-light-active:#DEF0FC;
    --color-product-light-hover: #C7E4FA;



    // White
    --color-white: #fff;
    --color-white-hover: #F1F4F7;
    --color-white-active:#E7ECF1;
    
    // Cloud
    --color-cloud-light:#F5F7F9;
    --color-cloud-hover:#E5EAEF;
    --color-cloud-active:#D6DEE6;
    
    --color-cloud-normal:#E8EDF1;
    --color-cloud-hover:#DCE3E9;
    --color-cloud-active: #CAD4DE;
    
    --color-cloud-dark:#BAC7D5;
    --color-cloud-dark-hover:#A6B6C8;
    --color-cloud-dark-active: #94A8BE;
    
    // Blue 
    --color-blue-light:#F1F8FE;
    --color-blue-light-hover:#DEF0FC;
    --color-blue-light-active: #C7E4FA;
    
    --color-blue-normal:#0172CB;
    --color-blue-normal-hover:#0161AC;
    --color-blue-normal-active: #01508E;
    
    --color-blue-dark:#005AA3;
    --color-blue-dark-hover:#004F8F;
    --color-blue-dark-active: #003E70;
    --color-blue-darker: #004680;
    
    // Green
    --color-green-light:#F2F8F2;
    --color-green-light-hover:#E1EFE2;
    --color-green-light-active: #CDE4CF;
    
    --color-green-normal:#28A138;
    --color-green-normal-hover:#238B31;
    --color-green-normal-active: #1D7228;
    
    --color-green-dark:#2D7738;
    --color-green-dark-hover:#276831;
    --color-green-dark-active: #1F5126;
    --color-green-darker: #235C2B;
    
    //Ink
    --color-ink-light:#697D95;
    --color-ink-light-hover:#5D738E;
    --color-ink-light-active: #4A617C;
    
    --color-ink-normal:#4F5E71;
    --color-ink-normal-hover:#3E4E63;
    --color-ink-normal-active: #324256;
    
    --color-ink-dark:#252A31;
    --color-ink-dark-hover:#181B20;
    --color-ink-dark-active: #0B0C0F;
    
    //Red
    --color-red-light: #FCF3F3;
    --color-red-light-hover:#F8E2E2;
    --color-red-light-active: #F3CECE;
    
    --color-red-normal:#D21C1C;
    --color-red-normal-hover:#B91919;
    --color-red-normal-active: #9D1515;
    
    --color-red-dark:#970C0C;
    --color-red-dark-hover:#890B0B;
    --color-red-dark-active: #6D0909;
    
    
    //Orange
    --color-orange-light: #FEF7F1;
    --color-orange-light-hover:#FCECDA;
    --color-orange-light-active: #FAE2C6;
    
    --color-orange-normal:#DF7B00;
    --color-orange-normal-hover:#C96F00;
    --color-orange-normal-active: #B26200;
    
    --color-orange-dark:#BA5D00;
    --color-orange-dark-hover:#A75400;
    --color-orange-dark-active: #954a00;
    --color-orange-darker:#803F00;
    
    
    //Utils
    --color-info: var(--color-blue-normal);
    --color-error: var(--color-red-normal);
    --color-success: var(--color-green-normal);
}