@use '../../foundation/index' as foundation;

.checkbox-base{
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.check-input{
    border: 1px solid foundation.$color-ink-light;
    width: 18px;
    height: 18px;
}