
@import '../../foundation/sizes';
@import '../../foundation/elevations';
@import '../../foundation/typography';

.dialog {
    padding: 24px;
    background: white;
    border: none;
    min-width: 40vw;
    @include elevation-1;

    &::backdrop{
        background-color: rgba(#000000, $alpha: 0.5);
    }
}

.dialog-title{
    @include title-2;
    margin: 0;
}

.dialog-description{
    font-size: $size-normal;
    color: var(--color-ink-dark)
}

.dialog form{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}