
.tab{
    cursor: pointer;
    display: inline-block;
    padding: 12px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 3px solid var(--color-ink-normal);
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: 500;
    line-height: 24px;

    &:hover{
        background-color: white;
    }

    &:active{
        background-color: white
    }
    &[data-active=true]{
        border-bottom-color: var(--color-product-normal)
    }
    .icon{
        vertical-align: middle;
    }
    &.tab-icon-left .icon{
        margin-right: 12px
    }

    &.tab-icon-right .icon{
        margin-left: 12px
    }
}
