@import '../../foundation/colors';
.tab{
    cursor: pointer;
    display: inline-block;
    padding: 12px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 3px solid $color-ink-normal;
    max-width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    &:hover{
        background-color: $color-white-hover;
    }

    &:active{
        background-color: $color-white-active;
    }
    &[data-active=true]{
        border-bottom-color: $color-product-normal
    }
    .icon{
        vertical-align: top;
    }
    &.tab-icon-left .icon{
        margin-right: 12px
    }

    &.tab-icon-right .icon{
        margin-left: 12px
    }
}
