@use '../../foundation/index' as foundation;

.icon{
    color: foundation.$color-ink-normal;
    padding: 2px;
    width: 14px;
    display: inline-block;
    height: 14px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    vertical-align: bottom;
}

.icon-size-sm{
    font-size: 10px
}

.icon-size-md{
    font-size: 14px
}

.icon-size-lg{
    font-size: 18px
}

.icon-color-success{
    background: foundation.$color-success;
    color: white;
}

.icon-color-error{
    background: foundation.$color-error;
    color: white;
}

.icon-color-info{
    background: foundation.$color-info;
    color: white;
}