@import '../../foundation/colors';
@import '../../foundation/sizes';
@import '../../foundation/elevations';
.textLink {
    cursor: pointer;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: underline; 

    .icon-left{
        margin-right: 0.5rem;
    }
    .icon-right{
        margin-left: 0.5rem;
    }
    .icon{
        color: inherit;
    }
}

.textLink--color-primary{
    color: $color-product-normal
}

.textLink--color-info{
    color: $color-blue-normal
}

.textLink--color-critical{
    color: $color-red-normal
}

.textLink--color-success{
    color: $color-green-normal
}

.textLink--color-normal{
    color: $color-ink-dark
}